@keyframes gradientMotion {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes bxSpin {
	17% {
		border-bottom-right-radius: 3px;
	}

	25% {
		transform: translateY(7px) rotate(22.5deg);
	}

	50% {
		transform: translateY(14px) scale(1, 0.9) rotate(45deg);
		border-bottom-right-radius: 40px;
	}

	75% {
		transform: translateY(7px) rotate(67.5deg);
	}

	100% {
		transform: translateY(0) rotate(90deg);
	}
}
