:root {
	--primary-color: hsl(234, 61%, 13%);
	--secondary-color: #e0e0e0;
	--tertiary-color: #bdbdbd;

	--background-color: var(--primary-color);

	--text-color: hsl(0, 0%, 100%);

	// --accent-color-1: #ff5722;
	// --accent-color-2: #ff9800;
	// --accent-color-3: #ffc107;

	--accent-color-1: hsla(46, 97%, 53%, 1);
	--accent-color-2: hsla(353, 100%, 64%, 1);
	--accent-color-3: hsla(325, 87%, 54%, 1);
	--accent-color-4: hsla(285, 76%, 59%, 1);
	--accent-color-5: hsla(209, 92%, 60%, 1);
	--accent-color-6: hsla(169, 79%, 57%, 1);

	--gradient-1: linear-gradient(
		90deg,
		var(--accent-color-2),
		var(--accent-color-3),
		var(--accent-color-4)
	);
	--gradient-2: linear-gradient(
		90deg,
		var(--accent-color-6),
		var(--accent-color-5)
	);
	--gradient-3: linear-gradient(
		90deg,
		var(--accent-color-1),
		var(--accent-color-2)
	);
	--gradient-4: linear-gradient(
		90deg,
		var(--accent-color-6),
		var(--accent-color-5),
		var(--accent-color-4)
	);
	--gradient-5: linear-gradient(
		90deg,
		var(--accent-color-1),
		var(--accent-color-2),
		var(--accent-color-3),
		var(--accent-color-4),
		var(--accent-color-5),
		var(--accent-color-6)
	);

	--body-font-family: "Roboto", sans-serif;
	--heading-font-family: "Roboto", sans-serif;

	--font-size-xs: 1rem;
	--font-size-sm: 1.2rem;
	--font-size-md-sm: 1.4rem;
	--font-size-md: 1.6rem;
	--font-size-md-lg: 1.8rem;
	--font-size-lg: 2.2rem;
	--font-size-xl: 2.6rem;
	--font-size-xxl: 3.2rem;

	--spacing-xs: 0.4rem;
	--spacing-sm: 0.6rem;
	--spacing-md: 1rem;
	--spacing-lg: 1.4rem;
	--spacing-xl: 2.2rem;
	--spacing-xxl: 4rem;

	--border-radius-md: 4px;
	--border-radius-lg: 8px;
	--border-radius-xl: 16px;

	--transition-std: all 0.3s ease-in-out;
}
